<!-- <p>weather-app works!</p> -->
<div class="container">
  <div class="weather-card">
    <h1 style="color: green">Toy Project 2</h1>
    <h3>Weather App Using Angular</h3>
    <input type="text" [(ngModel)]="cityName" placeholder="Enter city name" />
    <button (click)="getWeather()">Get Weather</button>

    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>

    <div
      *ngIf="weatherData"
      class="animate__animated animate__fadeIn"
      id="weather-info"
      style="display: block"
    >
      <h3 id="city-name">{{ weatherData.name }}</h3>
      <p id="date">{{ currentDate }}</p>
      <img src="{{ iconUrl }}" alt="Weather icon" id="weather-icon" />
      <p id="temperature">Temperature: {{ weatherData.main.temp }}°C</p>
      <p id="description">
        Description: {{ weatherData.weather[0].description }}
      </p>
      <p id="humidity">Humidity: {{ weatherData.main.humidity }}%</p>
      <p id="wind-speed">Wind speed: {{ weatherData.wind.speed }}m/s</p>
    </div>
  </div>
</div>
